#login-holder {
    background: #fff;
    padding: 32px;
    box-shadow: 0px 0px 25px #00000007;
    width: 33%;
    margin: 10% auto;
    border-radius: 15px;
    border-color: #00000040;
    .ant-alert {
        margin-bottom: 24px;
    }
    .logo-holder {
        margin: 32px 0px;
        text-align: center;
        img {
            width: 220px;
        }
        h1 {
            color: #0094cd;
            font-weight: 300;
        }
    }
    .login-form {
     max-width: 100%;
    }
    .login-form-forgot {
     float: right;
    }
    .login-form-button {
     width: 100%;
    }
    .bk {
        position: absolute;
        width: 100%;
        height:15%;
        margin: auto;
        top: 0; left: 0; bottom: 0; right: 0;
        background-color: #0094cd;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%230094cd' width='11' height='11'/%3E%3Crect fill='%231696ce' x='10' width='11' height='11'/%3E%3Crect fill='%232397cf' y='10' width='11' height='11'/%3E%3Crect fill='%232c99d0' x='20' width='11' height='11'/%3E%3Crect fill='%23349bd0' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%233a9dd1' y='20' width='11' height='11'/%3E%3Crect fill='%23419ed2' x='30' width='11' height='11'/%3E%3Crect fill='%2346a0d3' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%234ca2d4' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%2351a4d5' y='30' width='11' height='11'/%3E%3Crect fill='%2356a5d6' x='40' width='11' height='11'/%3E%3Crect fill='%235aa7d6' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%235fa9d7' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%2363abd8' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%2367acd9' y='40' width='11' height='11'/%3E%3Crect fill='%236caeda' x='50' width='11' height='11'/%3E%3Crect fill='%2370b0db' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%2374b2dc' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%2377b3dc' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%237bb5dd' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%237fb7de' y='50' width='11' height='11'/%3E%3Crect fill='%2383b9df' x='60' width='11' height='11'/%3E%3Crect fill='%2386bbe0' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%238abce1' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%238ebee2' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%2391c0e2' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%2395c2e3' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%2398c4e4' x='70' width='11' height='11'/%3E%3Crect fill='%239bc5e5' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%239fc7e6' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23a2c9e7' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23a6cbe8' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23a9cde8' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23accee9' x='80' width='11' height='11'/%3E%3Crect fill='%23b0d0ea' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23b3d2eb' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23b6d4ec' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%23b9d6ed' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23bdd8ed' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23c0daee' x='90' width='11' height='11'/%3E%3Crect fill='%23c3dbef' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23c6ddf0' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23cadff1' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23cde1f2' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%23d0e3f2' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%23d3e5f3' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23d6e6f4' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23d9e8f5' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23ddeaf6' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23e0ecf7' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23e3eef8' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23e6f0f8' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23e9f2f9' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23ecf4fa' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23eff6fb' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23f3f7fc' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23f6f9fd' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23f9fbfd' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23fcfdfe' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23ffffff' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
        z-index: -1;
    }
    .ant-form-explain {
        margin: 0px !important;
    }
}