
.hospitals-main-content {
    margin: 16px 0px;
    .ant-divider-horizontal {
        margin: 16px 0px;
        background: #f7f7f7;
    }
    .ant-alert {
        margin-bottom: 16px;
    }
    .hospitals-form {
        padding: 0px 16px 0px 16px;
        .ant-table {
            margin: 16px 0px 0px 0px;
            .ant-table-placeholder {
                border-radius: 0px;
                border-bottom: none;
            }
        }
    }
    .hospitals-lists {
        .card-container > .ant-tabs-card > .ant-tabs-content {
            margin-top: -16px;
        }
        
        .card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
            background: #fff;
            padding: 16px;
        }
        
        .card-container > .ant-tabs-card > .ant-tabs-bar {
            border-color: #fff;
        }
        
        .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
            border-color: transparent;
            background: transparent;
        }
        
        .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
            border-color: #fff;
            background: #fff;
        }
        .quick-links-holder {
            list-style: none;
            margin: 0px;
            padding: 0px;
            margin-top: 16px;
            
            li {
                padding: 8px;
            }
            li:hover {
                background: #fffdec;
                cursor: pointer;
            }
            li:last-child {
                border-bottom: none;
            }
            .actions-column {
                text-align: right;
            }
            .ant-list-item-action {
                margin-left: 0px;
            }
        }
    }
    .add-table-button {
        border: 1px solid #eee;
        padding: 16px;
        margin-bottom: 32px;
        color: #999;
        cursor: pointer;
    }
    .add-table-button:hover {
        border-color: #f3cfa2;
        background: #fffdec;
        color: #333;
    }
    .hospitals-create-edit-area {
        background: #fff;
        border-radius: 5px;
        min-height: 78vh;
        padding: 16px;
        h3 {
            margin-bottom: 0px;
        }
    }
    .ant-table-bordered .ant-table-tbody > tr:last-child > td {
        border-bottom: none;
    }
}
