#header {
  background: #fff;
  box-shadow: 0px 0px 25px #eee;
  border-bottom: 1px solid #ebebec;
  position: reltaive;
  width: 100%;
  z-index: 100;
  .logo-holder {
    width: 100%;
    h2 { font-weight: 700; color: #0094cd; margin-top:8px }
    img {
      width: 200px;
      margin-top: 4px;
    }
  }
  .first-row {
    padding: 8px 0px;
    border-bottom: 1px solid #f0f0f0;
    .user-settings {
      text-align: right;
      cursor: pointer;
      // i {
      //   color: #919bb0;
      //   font-size: 25px;
      //   margin: 0px 16px;
      // }
      .notifications-icon, .send-notification-icon {
        margin: 0px;
        font-size: 25px;
        color: #919bb0;
      }
      .ant-badge {
        margin: 0px 24px;
      }
      // span {
      //   color: #62707e;
      //   display: inline-block;
      //   vertical-align: super;
      // }
      .ant-avatar {
        vertical-align: bottom;
      }
    }
    .ant-input {
      border: none;
      font-size: 15px;
      padding-left: 42px;
      &:focus {
        outline: none;
        box-shadow: none;
      }
      &::placeholder {
        color: #c5d2dd;
      }
    }
    .ant-input-prefix {
      i {
        font-size: 18px;
        color: #c5d2dd;
      }
    }
  }
  .second-row {
    padding: 0px 0px;
    .main-menu {
      text-align: center;
      a{
        color: #798bb1;
        font-size: 15px;
        margin-right: 40px;
        display: inline-block;
        padding: 16px 0px 13px 0px;
        border-bottom: 3px solid #fff;
        i {
          font-size: 20px;
          margin-right: 2px;
        }
        &:hover {
          color: #0094cd;
          border-bottom: 3px solid #0094cd;
        }
      }
      a.active {
        color: #0094cd;
        border-bottom: 3px solid #0094cd;
      }
    }
  }
}
.notifications-popover, .user-profile-popover {
  position: fixed !important;
  z-index: 9999;
}
.notifications-popover .ant-popover-inner-content {
  padding: 0px;
}
.user-profile-popover .ant-popover-inner-content{
  padding: 0px;
}
.user-profile-popover .ant-menu-vertical {
  border-right: none;
  .ant-menu-item {
    height: auto;
    line-height: auto;
    padding: 0 8px;
    border-bottom: 1px dashed #eee;
    margin: 0px;
  }
  .ant-menu-item:last-child {
    border: none;
  }
  .ant-menu-item i {
    font-size: 18px;
  }
} 