.notifications-holder {
    width: 350px;
    h3 {
        padding: 8px 8px 8px 8px;
        border-bottom: 1px solid #eee;
        margin: 0px;
    }
    .notification-item {
        border-bottom: 1px dashed #eee;
        padding: 8px;
        cursor: pointer;
        .meta {
            font-size: 12px;
            color: #00000073;
        }
        .title {
            font-size: 13px;
            padding: 0px;
            font-weight: 300;
        }
    }
    .notification-item:hover {
        background: #fffee2;
    }
    .notification-item.new {
        background: #fffee2;
        .title {
            font-weight: 600;
        }
    }
    .notification-item:last-child {
        border: none;
    }
}